<footer>
    <div id="bottom_context">
      <ul>
        <li>About</li>
        <li>For business</li>
        <li>Shop</li>
        <li>Stories</li>
        <li>
          <i class="fa fa-weibo" aria-hidden="true"></i>
          <i class="fa fa-github" aria-hidden="true"></i>
          <i class="fa fa-weixin" aria-hidden="true"></i>
        </li>
      </ul> 
      <h4>RESOURCES</h4>
      <ul>
        <li>Articles</li>
        <li>Forums</li>
        <li>Help</li>
        <li>Blog</li>
        <li>Roadmap</li>
      </ul>
    </div>
    <div id="bottom_link">
      <ul>
        <li><a href="#">Privacy Policy</a> &nbsp; | &nbsp;</li>
        <li><a href="#">Terms</a></li>
        <li id="bottom_right_link">Made with️❤️in China © 2020 yovelas.github.io</li>
      </ul>
    </div>
  </footer>