<div id="main_search">
  <input type="text"> 
  <i class="fa fa-search" aria-hidden="true"></i>
</div>

<h1 id="title_one">Popular</h1>

<div id="popular_box">
  <div>
    
  </div>
</div>

<!-- 
<h1 id="title_one">Popular Tags</h1>

<div id="popular_box">
  <div>
    <img src="https://tuchong.pstatp.com/2732846/ft640/20811119.webp">
    <img src="https://tuchong.pstatp.com/762919/ft640/366085376.webp">
    <img src="https://tuchong.pstatp.com/244519/ft640/15195139.webp">
    <img src="https://tuchong.pstatp.com/1724826/ft640/12024514.webp">
    <img src="https://tuchong.pstatp.com/2367683/ft640/162662491.webp">
    <img src="https://tuchong.pstatp.com/2613444/ft640/29542573.webp">
    <img src="https://tuchong.pstatp.com/244519/ft640/7500256.webp">
    <img src="https://tuchong.pstatp.com/3020381/ft640/23373430.webp">
    <img src="https://tuchong.pstatp.com/3172693/ft640/8435591.webp">
    <img src="https://tuchong.pstatp.com/1811570/ft640/512426462.webp">
    <img src="https://tuchong.pstatp.com/3172693/ft640/8435682.webp">
    </div>
</div> -->



<div id="ad_one">
  <h1>Become Our Photograher</h1>
  <a>Join Us</a>
</div>



<!-- 
<li>专题分类</li>
        <li>热门专题</li>
        <li>最新专题</li>
        <li>热门作品</li>
        <li>热门活动</li>
<br> -->
<!-- 
<ul>
  <li><a href="/">home</a></li>
  <li><a routerLink="login">Login</a></li>
  <li><a routerLink="register">Register</a></li>
  <li><a routerLink="profile">Profile</a></li>
  <li><a routerLink="uploadphoto">UploadPhoto</a></li>
  <li><a routerLink="showphoto">ShowPhoto</a></li>
  <li><a routerLink="/">404</a></li>
  <li id="logged">未登录</li>
</ul> -->