#write_box{
    width: 100%;
    min-height: 100%;
    background:rgba(0,0,0, .4);
    position: fixed;
    overflow-x: scroll;
    z-index: 1000;
}
#write_inbox{
    width: 680px;
    /* height: 900px; */
    background: white;
    position: relative;
    top: 5%;
    left: 50%;
    transform: translate(-50%,0);
    border-radius: 5px;
    margin: 90px 0;
    padding-bottom: 35px;
}

#write_inbox>span{
    padding: 20px;
    line-height: 60px;
    font-size: 1.25rem;
    
}
.fa-window-close{
    position: absolute;
    top: 20px;
    right: 20px;
}

#content_container{
    margin: 0 30px;
    padding: 5px;
    border-top: #ececec solid 1px;
}
#content{
    line-height: 1.25rem; 
    font-size: 1rem;
    height: 10rem;
    max-height: 10rem;
    display: block;
    border: 0;
    width: 100%;
    outline:none;
    resize: none;
}

#photo_container{
    /* background: cadetblue; */
    /* height: 160px; */
    margin: 0 30px;
    /* overflow-x: scroll; */
}
#photo_container>div>i{
    width: 180px;
    height: 180px;
    font-size: 50px;
    text-align: center;
    line-height: 180px;
    border: #eee solid 2px;
    color: #eee;
    border-radius: 5px;
}

#photo_inbox{
    overflow-x: scroll;
}

#tag{
    margin: 0 30px;
    margin-top: 20px;
}

#tag input{
    width: 150px;
    border: 0;
    padding: 5px 2px;
    border-bottom: #eee solid 1px;
    outline:none;
    margin-left: 35px;
}

#tag i{
    position: absolute;
    right: 5px;
    top: 2px;
}

#tag>select{
    margin: 10px 0;
}
#tag>div{
    position: relative;
    display: inline;
    margin: 10px 0;
}
#searchContent{
    position: absolute;
    top: 22px;
    left: 35px;
    background: white;
    border: #eee solid 1px;
}
#searchContent p{
    line-height: 20px;
    padding: 0 5px;
    width: 150px;
}

#publish{
    background: #2ffeff;
    padding: 6px 8px;
    border-radius: 2px;
    /* margin-top: 5px; */
    /* margin-right: 20px; */
    /* margin-bottom: 20px; */
    position: relative;
    bottom: 30px;
    
    float: right;
    color: white;
    font-size: 1.25rem;
}

.selectedimg{
    background:yellowgreen;
    width: 180px;
    height: 180px;
    border: #eee solid 2px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    position: relative;
}
.selectedimg p:first-child{
    color: white;
}
.filename{
    /* color: rebeccapurple; */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0, .4);
    color: white;
    width: 160px;
    font-size: 1rem;
    line-height: 1.5rem;
    border-radius: 3px;
    padding-right: 20px;
}
.filename i{
    position: absolute;
    right: 3px;
    color: turquoise;
}

#photo_inbox>div i{
    margin: 5px;
}

#photo_inbox>div i:last-child{
    float: right;
}
